<!--
Author - Siddharth Mark Joseph
Purpose - Partial View for the state "current"
Ver - 1.0
-->
<div class="container">
    <div class = "row">
        <h1>Current Weather Data</h1>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="name">Enter the name of the city in the United States</label>
            <input type="text" class="form-control" ng-model="vm.name" id="name" ng-click="vm.set()">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" ng-disabled="!vm.name" ng-click="vm.onSubmit()">Submit</button>
        </div>
    </div>
    <div class="row" ng-hide="vm.toggle">
        <div class="jumbotron">
          <h1 class="text-center">Weather in {{vm.name}}</h1>
           <ul ng-repeat="(key,value) in vm.weather">
              <li>{{key}} : {{value}}</li>
           </ul>

        </div>
    </div>
    <div ng-show="vm.error">
      <div class="row">
        <div class="jumbotron">
            <h2 class="text-center">{{vm.name}} is not a city in the United States</h2>
        </div>
      </div>
    </div>
</div>